<section class="sample-app-content">
  <nav class="navbar">
    <div class="navbar-links">
      <a [routerLink]="['/Home']">Home</a>
      <a [routerLink]="['/About']">About</a>
      <a [routerLink]="['/Users', 'Users-home']">Users</a>
      <div class="pull-right">
 
        <form class="navbar-form navbar-right" ng-submit="submit(credentials)" ng-controller="MainCtrl" ng-hide="user">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="email" ng-model="credentials.email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" ng-model="credentials.password">
          </div>
          <button type="submit" class="btn btn-default">login</button>
        </form>
      
   
          Hello, user goes here!
          <form action="/logout" method="post">
            <input type="submit" value="signout" />
          </form>
   
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</section>